[Unit]
Description=GEEKS-AD-Tools Flask App
After=network.target

[Service]
Type=simple
User=bphillips
WorkingDirectory=/home/bphillips/GEEKS-AD-Tools
Environment=VIRTUAL_ENV=/home/bphillips/GEEKS-AD-Tools/venv
Environment=PATH=/home/bphillips/GEEKS-AD-Tools/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/bphillips/GEEKS-AD-Tools/venv/bin/python /home/bphillips/GEEKS-AD-Tools/app.py
Restart=on-failure
RestartSec=10
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target 